---
title: Shawn Zvinis
---

<div class="container">
  <h1>Shawn Zvinis</h1>
  <ul class="social">
    <li><a href="https://linkedin.com/in/shawnzvinis" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/shawnzvinis" target="_blank">GitHub</a></li>
    <li><a href="https://twitter.com/shawnzvinis" target="_blank">Twitter</a></li>
    <li><a href="https://medium.com/@shawnzvinis" target="_blank">Medium</a></li>
    <li><a href="https://instagram.com/shawnzvinis" target="_blank">Instagram</a></li>
  </ul>
  <hr>

  <p>I’m a <a href="http://designfounders.com/" target="_blank">designer</a> and <a href="https://github.com/shawnzvinis" target="_blank">developer</a> with experience building and managing startups. I’m currently building <a href="https://github.com/areahq" target="_blank">Area</a>, a platform for modern estate agents (in private testing). I also built the initial product and engineering team at <a href="https://yoyowallet.com" target="_blank">Yoyo Wallet</a> and co-founded <a href="https://medium.com/@shawnzvinis/tab-startup-to-shutdown-b0722086c0f7" target="_blank">Tab</a>, another mobile payments and loyalty startup.</p>

  <h3>In The News</h3>
  <ul>
    <li><a href="http://jeffhaanen.com/2017/05/23/am-i-an-imposter-the-weary-souls-of-entreprenuers/">Am I an Imposter? The Weary Souls of Entreprenuers</a> (Jeff Haanen)</li>
    <li><a href="http://www.bbc.com/news/technology-30278806" target="_blank">Start-up 'funerals' where lesson is business failure</a> (BBC News)</li>
    <li><a href="https://www.independent.co.uk/money/spend-save/is-a-cashless-society-really-on-the-cards-8714651.html" target="_blank">Is a cashless society on the cards?</a> (The Independent)</li>
    <li><a href="https://www.economist.com/news/special-report/21593581-launching-startup-has-become-fairly-easy-what-follows-back-breaking" target="_blank">Testing, testing</a> (The Economist - Special Report)</li>
    <li><a href="https://www.economist.com/news/special-report/21593591-are-startups-just-workaholic-white-male-lumpen-preneurs-founders-blues" target="_blank">Founder’s blues</a> (The Economist - Special Report)</li>
    <li><a href="https://thenextweb.com/entrepreneur/2014/05/19/new-beginnings-old-endings-pivot-company/#.tnw_Tu3g3S3B" target="_blank">New beginnings from old endings</a> (The Next Web)</li>
    <li><a href="https://dreamstake.wordpress.com/2013/10/12/tab-startup-to-shutdown-guest-blog-by-shawn-zvinis/" target="_blank">Tab: Startup To Shutdown</a> (Dreamstake)</li>
    <li><a href="http://seedcamp.com/guest-post-your-product-your-road-conclusions-after-seedcamp-onboarding-week-by-maciej-krupowies/" target="_blank">Your Product, Your Road</a> (Seedcamp)</li>
    <li><a href="http://www.informilo.com/2013/04/brewed-on-campus/" target="_blank">Brewed On Campus</a> (Informilo)</li>
    <li>The Men of The Next 25 Years (British GQ - Print)</li>
  </ul>
</div>
